<div data-fls-blockhead class="blockhead--hero">
	<div class="blockhead__body-image">
		<img class="blockhead__image" src="@img/hero/sound-waves.png" alt="Image">
	</div>
	<h1 class="blockhead__title">The world shades. Your music shines.</h1>
</div>

<div data-fls-blockhead class="blockhead--title-gallery-1">
	<h2 class="blockhead__title">Recommended</h2>
</div>

<div data-fls-blockhead class="blockhead--title-gallery-2">
	<h2 class="blockhead__title">Browse Zyro products by category</h2>
</div>

<div data-fls-blockhead class="blockhead--title-width">
	<h2 class="blockhead__title">Why buy direct from Zyro</h2>
</div>